
body{
    background-color: black;   
    color:orange;
}
#programming{
    width: 518px;
    height: 388px;
}
#salto{
    width: 257px;
    height: 494.5px;
    padding-right: 25px;
}
#salto2{
    padding-left: 25px;
    width: 257px;
    height: 494.5px;
}
a{
    color:orange;
    text-decoration: none;
}
th{
    font-size: 40px;
}
td{
    font-size: 20px;
}